name: lint-ros-package

on:
  workflow_call:

jobs:
  flake8-lint:
    name: runner / flake8
    runs-on: ubuntu-18.04
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: "2.7"
      - name: flake8 Lint
        uses: reviewdog/action-flake8@49cfab000299623090ddea740bbe30178ef12247 # v3.2.0
        with:
          reporter: github-pr-review
          filter_mode: file
          fail_on_error: true
          flake8_args: --ignore=F401,W503 --max-line-length 119
  yamllint:
    name: runner / yamllint
    runs-on: ubuntu-18.04
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Download config
        run: wget https://raw.githubusercontent.com/sbgisen/.github/main/.yamllint
      - name: yamllint
        uses: reviewdog/action-yamllint@aabd7aef24430a8da23122ca6711faec445dfcf6 # v1.4.0
        with:
          reporter: github-pr-review
          filter_mode: file
          fail_on_error: true
          yamllint_flags: -c .yamllint .
  xmllint:
    name: runner / xmllint
    runs-on: ubuntu-18.04
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Setup reviewdog
        uses: reviewdog/action-setup@8f2ec89e6b467ca9175527d2a1641bbd0c05783b # v1.0.3
      - name: xmllint roslaunch
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ github.token }}
        run: |
          sudo apt install libxml2-utils
          wget https://gist.githubusercontent.com/nalt/dfa2abc9d2e3ae4feb82ca5608090387/raw/roslaunch.xsd
          files=`find . -type f -regextype posix-egrep -regex ".*\/launch\/.*\.(launch|xml)$"`
          xmllint --noout --schema roslaunch.xsd ${files} 2>&1 1>/dev/null |\
          reviewdog -name="xmllint" -reporter=github-pr-review -efm='%f:%l:%m' -filter-mode=file -fail-on-error
      - name: xmllint package.xml
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ github.token }}
        run: |
          wget http://download.ros.org/schema/package_format3.xsd
          files=`find . -type f -regextype posix-egrep -regex ".*package.xml"`
          xmllint --noout --schema package_format3.xsd ${files} 2>&1 1>/dev/null |\
          reviewdog -name="xmllint" -reporter=github-pr-review -efm='%f:%l:%m' -filter-mode=file -fail-on-error
